@import url("globalFont.css");


body {
    font-family: "fuente", sans-serif;
    background-color: #D9D9D9;
}

#us {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.card {
    width: 200px;
    height: 250px;
    margin: 0 110px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card[style] {
    color: #D9D9D9;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3E85A4;
    color: #D9D9D9;
    font-size: 20px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.card:hover .hover-text {
    opacity: 1;
}


#us-info {
    margin-top: 100px;
    margin-bottom: 30px;
}

p {
    text-align: center;
    color: #3E85A4;
    font-family: Arial, sans-serif;
    font-size: 25px;
    line-height: 1.6;
    display: block;
    width: 80%;

    margin: auto;
}