<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HumanCare</title>
    <link rel="stylesheet" href="styles/default.css"> <!--Estilo-->
</head>

<body>
    <header>
        <nav class="nav_container">
            <section>
                <div class="nav_icon">
                    <img class="nav_logo" src="/images/Logo.png">
                </div>
                <div class="nav_foot">
                    <ul class="nav_list">
                        <li class="nav_items">
                            <a href="#" class="nav_links"> Nosotros</a>                    
                        </li>
                        <li class="nav_items">
                            <a href="#" class="nav_links"> Catalogo</a>                    
                        </li>
                        <li class="nav_items">
                            <a href="#" class="nav_links"> Donaciones</a>                    
                        </li>
                        <li class="nav_items">
                            <a href="#" class="nav_links"> Contáctanos</a>                    
                        </li>
                        <li class="nav_items">
                            <a href="/views/carrito.html" class="nav_links"> Pagos</a>                    
                        </li>
                    </ul>
                </div> 
            </section>
        </nav>
    </header>

    <h1 class="title">Human Care</h1>
</body>

<footer>

</footer>

</html>