<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donaciones | HumanCare</title>
    <link rel="stylesheet" href="../styles/header.css"> <!--Estilo-->
    <link rel="stylesheet" href="../styles/footer.css"> <!--Estilo-->
    <link rel="stylesheet" href="../styles/donaciones.css">
    <script type="module" src="../js/footer.js"></script>
    <script type="module" src="../js/header.js"></script>

</head>

<body>
    
    <header id="header"></header>
    

    <section id="donaciones">
        <h1>HumanCare Activista</h1>
        <img src="/images/grupo de donantes.jpg" alt="activista">
        <p>HumanCare, es una organización dedicada a promover la salud y el bienestar con un fuerte enfoque en la
            sostenibilidad y el activismo social. Que se compromete a proporcionar productos y servicios ecológicos,
            educar a la comunidad y fomentar la ayuda comunitaria.
        </p>
        <img src="/images/joven activista.jpg" alt="activismo">
    </section>
    <section id="tipos-donantes">
        <!--seccion de donantes y tipos -->
        <h2>Todos nuestros Activistas</h2>
        <p>Serás reconocido como uno de nuestros siguientes tipos de donantes:</p>
        <ul class= "tarjetas-donantes">
            <li>
                <div class="tarjeta"> 
                    <strong>Nivel Bronce:</strong>Recibiras un exclusivo descuento de 10% por cada compra en nuestro <a
                        href="catalogo.html">catálogo de productos</a>.</p>
                </div>
            </li>
            <li>
                <div class="tarjeta">
                    <strong>Nivel Oro:</strong>Recibiras un exclusivo descuento de 20% por cada compra en nuestro <a
                        href="catalogo.html">catálogo de productos</a>.</p>
                </div>
            </li>
            <li>
                <div class="tarjeta">
                    <strong>Nivel Diamante:</strong>Recibiras un exclusivo descuento de 30% por cada compra en nuestro
                    <a href="catalogo.html">catálogo de productos</a>.</p>
                </div>
            </li>

        </ul>
    </section>

    <section id="agradecimiento">
        <h2><strong>¡Gracias por tu Apoyo!</strong></h2>
        <p>En HumanCare, cada donación cuenta y marca la diferencia. Gracias a ti, podemos continuar nuestra misión de
            ayudar a quienes más lo necesitan. Tus contribuciones nos permiten cambiar vidas todos los días.</p>
        <img src="/images/persona feliz.jpg" alt="imagen de alguien feliz">

    </section>







<footer id="footer"></footer>
</body>

</html>