@import url('globalFont.css');


@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

/* Body */
body {
    font-family: "fuente", sans-serif;
    scroll-behavior: smooth;
    background: #D9D9D9;
    background: linear-gradient(135deg,
            #D9D9D9 25%,
            #bfcdd8 25%,
            #bfcdd8 50%,
            #D9D9D9 50%,
            #D9D9D9 75%,
            #bfcdd8 75%,
            #bfcdd8);
    background-size: 40px 40px;
    animation: move 4.5s linear infinite;
}

.donations-text {
    margin-top: 0px;
    padding-top: 30px;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    color: #6EB7D6;
    text-align: center;
    text-shadow: -2px 2px black;
}

.donations-images {
    display: flex;
    justify-content: space-evenly;

}

.donations-image {
    object-fit: cover;
    width: 700px;
    height: 380px;
    margin: 2rem;
    margin-top: 15px;
    box-shadow: -3px 3px #3E85A4;
    border-radius: 1rem;
    transition: transform 0.5s ease-in-out;
    background: rgb(0, 0, 0);
    box-shadow: -1px 5px 3px 0px #3E85A4;
    filter: drop-shadow(-6px 5px 10px #000000);
}

.btnDonar {
    background-color: #3E85A4;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    border: 0;
    background-color: #74c6e9;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btnDonar:hover {
    background-color: #ff0000;
    color: hsl(0, 0%, 100%);
    box-shadow: #68bee3 0px 7px 29px 0px;
}

.tipes-text {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 2rem;
    color: #6EB7D6;
    text-align: center;
    text-shadow: -2px 2px black;
}

.tipes-levels {
    display: flex;
    justify-content: space-around;
}

.card-donantes {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.card-copper {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
}

.card-gold {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
}

.card-diam {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #3E85A4;
    overflow: hidden;
    border-radius: 20px;
}

.temporary-text-copper {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
}

.temporary-text-gold {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
}

.temporary-text-diam {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
}

.card_title {
    font-weight: bold;
}

.card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
    color: #3E85A4;
    line-height: 15px;
}

.card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card-copper:hover .card_content {
    transform: translateY(0);
}

.card-gold:hover .card_content {
    transform: translateY(0);
}

.card-diam:hover .card_content {
    transform: translateY(0);
}


.card-copper:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}

.card-gold:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}

.card-diam:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}


.grats-content {
    text-align: center;
}

.grats-title {
    margin-top: 45px;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    color: #6EB7D6;
    text-align: center;
    text-shadow: -2px 2px black;
}
/* Estilo para las imágenes del carrusel */
.carousel-img {
    max-width: 90%; 
    height: auto;
    margin: 0 auto; /* Centrar la imagen dentro del carrusel */
    border-radius: 10px; /* Añadir un borde redondeado para mejor estética */
}
/* Estilo para los textos del carrusel */
.carousel-caption h5 {
    color: #000000; /* Color negro para el texto */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados para mejorar la estética */
    display: inline-block; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Sombra sutil para resaltar el texto */
}

.carousel-caption p {
    color: #333333; /* Gris oscuro para el párrafo */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 8px;
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Ajustar el fondo al tamaño del texto */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}


/* Estilo para la tarjeta de agradecimiento */
.grats-content {
    max-width: none;
    width: 60%;
    margin: 30px auto;
    background-color: #ffefd5; 
    border: 2px solid #6EB7D6;; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    padding: 20px;
}

.grats-content .grats-title {
    color: #6EB7D6; /* Color adecuado */
    text-align: center;
    margin-bottom: 15px;
}


.grats-text {
    color: #3E85A4; 
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}

.grats-img {
    width: 100%;
    height: auto;
    border-top: 2px solid #6EB7D6; 
    border-radius: 0 0 15px 15px; /* Redondeado inferior para que coincida con la tarjeta */
    margin-top: 10px;
}
