@import url('globalFont.css');

/* Body */
body {
    font-family: "fuente", sans-serif;
    background-color: #3E85A4;
    margin: 0;
    padding: 0;
    font-size: large;
}



/* Sección de donaciones */
#donaciones {
    text-align: center;
    margin-bottom: 5rem;
}

#donaciones div {
    display: flex;
    justify-content: space-around;
}

#donaciones div img {
    width: 45%;
    border-radius: 15px;
}

#donaciones p {
    color: #d9d9d9;
    width: 80%;
    margin: 20px auto;
    font-size: 30px;
}




#tipos-donantes div h2,
#tipos-donantes div p {
    text-align: center;
    color: #d9d9d9;
}

#tipos-donantes div h2 {
    background-image: linear-gradient(90deg, #D9D9D9, #6eb7d6af, #6eb7d6af, #3E85A4, #3E85A4, #3E85A4, #6eb7d6af, #6eb7d6af, #D9D9D9);
    font-size: 30px;
}

/* Contenedor de tarjetas */
.tarjetas-donantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

}

/* Estilos para cada tarjeta */
.tarjeta {
    background-color: #d9d9d9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.t-1 strong {
    color: rgb(82, 56, 2);
}

.t-2 strong {
    color: rgb(126, 125, 125);
}

.t-3 strong {
    color: darkcyan;
}


.tarjeta:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.tarjeta p {
    color: #000000;
}

.tarjeta a {
    color: #3E85A4;
    text-decoration: none;
}

#agradecimiento {
    text-align: center;
    background-color: #6eb7d6;
}

#agradecimiento h2 {
    background-image: linear-gradient(90deg, #D9D9D9, #6eb7d6af, #6eb7d6af, #3E85A4, #3E85A4, #3E85A4, #6eb7d6af, #6eb7d6af, #D9D9D9);
    color: #d9d9d9;
}

#agradecimiento div {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#agradecimiento p {
    color: #d9d9d9;
    width: 50%;
    height: 50%;
    margin: auto;
    font-size: 30px;
    padding: 5px;

}


.agradecimiento-img {
    width: 50%;
    margin-bottom: 50px;
}

.agradecimiento-img img {
    width: 50%;
    border-radius: 20px;
}




.btnDonar {
    font-family: "fuente", sans-serif;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #D9D9D9;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-top: 20px;
}

.btnDonar:hover {
    background-color: #68bee3;
    color: #D9D9D9;
    cursor: pointer;
}