@import url("globalFont.css");

@keyframes tiltSides {
    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

}

@keyframes myAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Fondo y tipografía general */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "price", sans-serif;
}

/* Header principal */
#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Estilo del título */
.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d9d9d9;
    text-align: center;
    text-shadow: -2px 2px black;
    font-size: 3rem;
    margin: 0;
    margin-left: 100px;
}

.titulo:hover {
    color: #6EB7D6;
    text-align: center;
    text-shadow: -2px 2px black;
    font-size: 3rem;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

/* Contenedor principal del nav */
.nav_container {
    background-color: #3E85A4;
    width: 100%;
    height: 100%;
}

/* Navegación principal */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

/* Iconos del nav */
.nav_logo {
    max-height: 64px;
    padding-left: 15px;

}

.nav_logo:hover {
    animation: myAnim 2s ease 0s 1 normal forwards;

}

.nav_list {
    margin: 0;
    background-color: #6EB7D6;
}

/* Lista de navegación */
.nav_list_lis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav_list_li {
    position: relative;
    margin-right: 20px;
}

.nav_list_li:hover {
    animation: tiltSides 1s infinite ease-in-out;
}

.nav_favoritos .dropdown_favorites {
    display: none;
    /* Ocultar por defecto */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
}

.nav_favoritos .dropdown_favorites.visible {
    display: block;
}

.dropdown_favorites ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown_favorites li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dropdown_favorites li:hover {
    background-color: #f1f1f1;
}

/* Footer del nav */
.nav_foot {
    margin-top: 10px;
}

.nav_list {
    background-color: #6EB7D6;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.7rem;
    text-decoration: none;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.633);
    height: 100%;
}

/* Enlaces de navegación */
.nav_links {
    width: 360px;
    text-decoration: solid;
    color: #fcf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links:hover {
    box-shadow: -2px 2.5px 1px #000;
    transition: ease 0.25s;
    background-color: #3E85A4;
    color: white;
}