@import url("globalFont.css");

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);

    }
}



@keyframes tiltSides {
    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "fuente", sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #3E85A4, #74c6e9, #D9D9D9, #bfcdd8);

}

.hero-Index {
    text-align: center;
    padding: 20px 10px;
}

.title {
    margin-top: 10px;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color: #6EB7D6;
    text-align: center;
    text-shadow: -2px 2px black;
}

.index-Causes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.text-Causes {
    font-size: 1.2rem;
    color: #d9d9d9;
    margin: 20px auto;
    max-width: 800px;
    font-size: 25px;
    text-align: center;
    padding-inline: 10rem;
    text-shadow: -1px 3px 4px #000;
}

.causes {
    object-fit: cover;
    width: 380px;
    height: 350px;
    margin: 2rem;
    margin-top: 40px;
    max-width: 480px;
    max-height: 480px;
    box-shadow: -3px 3px #3E85A4;
    border-radius: 1rem;
    transition: transform 0.5s ease-in-out;
    background: rgb(0, 0, 0);
    box-shadow: -1px 5px 3px 0px #3E85A4;
    filter: drop-shadow(-6px 5px 10px #000000);
}

.causes:hover {
    transform: scale(1.05);
}


.text-basic {
    font-size: 36px;
    text-align: center;
    color: #d9d9d9;
    padding: 5px;
    text-shadow: -2px 2px black;
    letter-spacing: .5rem;
}


.style-basic {
    color: #3E85A4;
}

.arrow-Index {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    animation: bounce 1s infinite alternate;
}

.index-Donations {
    font-size: large;
    justify-content: center;
    text-align: center;
    padding: 0;
}

#cards {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    align-items: center;
    justify-items: center;
    gap: 35px;
}

.card {
    position: relative;
    width: 100%;
    height: 250px;
    background: #3E85A4;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 1.2em;
    text-align: center;
    color: #d9d9d9;
    font-weight: bold;
    margin-top: 30px;
}



.card:hover::after {
    bottom: 0;
    opacity: 1;
}

.card:active {
    transform: scale(0.98);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 60%;
    display: block;
    margin-top: 0;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text {
    max-width: 55px;
}

.text-basic-donaciones {
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
    color: #d9d9d9;
    padding: 20px;
    text-shadow: -2px 2px black;
    letter-spacing: 0.5rem;
}

#causas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.cause {
    width: 90%;
    margin: auto;
    background-image: linear-gradient(163deg, #3E85A4 0%, #59b9e2 100%);
    transition: all 0.3s;
    border-radius: 20px;
    margin-bottom: 30px;
    filter: drop-shadow(-6px 5px 10px #000);
}

.cause2 {
    width: 100%;
    margin: auto;
    transition: all 0.2s;
    background-color: #74c6e9;
    border-radius: 20px;
    color: #000;
    margin-bottom: 30px;
}

.cause:hover {
    box-shadow: 0 0 30px 1px #3E85A4;
}

.cause2:hover {
    transform: scale(0.997);
}

.title-cause {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
    color: #2a5e78;
    margin-bottom: 0;
}


.causa-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
}

.img-causes {
    width: 40%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    margin: 40px;
}


.desc-causes {
    font-size: 20px;
    color: #2a5e78;
    width: 50%;
    margin-right: 40px;
}



.btnDonar {
    background-color: #3E85A4;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: -20px;
    border: 0;
    /* color mostaza */
    background-color: #f7dc6f;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btnDonar:hover {
    background-color: #318db4;
    color: hsl(0, 0%, 100%);
    box-shadow: #68bee3 0px 7px 29px 0px;
}

.btn2 {
    background-color: #3E85A4;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    background-color: #f7dc6f;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btn2:hover {
    background-color: #318db4;
    color: hsl(0, 0%, 100%);
}

a {
    text-decoration: none;
}

.section-Catalogo {
    padding: 40px 20px;
}



.btn-confirm {
    background-color: #3E85A4;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-confirm:hover {
    background-color: #2a5e78;
}

@media(max-width:1300px) {
    .title-cause {
        font-size: 2.5rem;
    }

    .img-causes {
        height: 200px;
        width: 50%;
    }
}

@media (max-width:900px) {
    .causa-contain {
        flex-direction: column;
    }

    .desc-causes {
        display: none;
    }


    .img-causes {
        width: 70%;

        height: 200px;
    }
}

@media (max-width: 768px) {
    .nav_search_input {
        width: 80%;
    }

    .text-Causes,
    .p-donaciones {
        padding-inline: 1rem;
    }

    .hero-Index,
    .section-Catalogo {
        padding: 20px;
    }

    .title,
    .text-basic,
    .text-basic-donaciones {
        font-size: 1.8rem;
    }

    .index-Causes {
        flex-direction: column;
    }

    .desc-causes {
        font-size: 13px;
        width: 40%;
    }

    .title-cause {
        font-size: 25px;
    }

    .img-causes {
        height: 300px;
    }

    #cards {
        grid-template-columns: repeat(2, 1fr);

        grid-template-rows: repeat(3);

    }

    .card {
        height: 220px;

    }

    .card-title {
        font-size: 1.1em;

    }

    .price {
        font-size: 1.2em;

    }

    .stock {
        font-size: 0.7em;

    }

    .card-image {
        height: 50%;

    }

    .hero-Index {
        padding: 15px 5px;

    }

    .title {
        font-size: 2rem;

    }

    .index-Causes {
        flex-direction: column;

        align-items: center;

    }

    .text-Causes {
        font-size: 1.5rem;

        padding-inline: 2rem;

    }

    .causes {
        width: 90%;

        height: auto;

        max-width: 350px;

        margin: 1rem;

    }

    .text-basic {
        font-size: 28px;

    }

    .arrow-Index {
        margin-top: 20px;

    }
}

@media (max-width: 600px) {
    .desc-causes {
        font-size: 11px;
        width: 50%;
    }

    .title-cause {
        font-size: 20px;
    }

    .img-causes {
        height: 350px;
    }
}

@media (max-width: 485px) {
    .desc-causes {
        font-size: 11px;
        width: 50%;
    }

    .title-cause {
        font-size: 20px;
    }

    .img-causes {
        height: 450px;
    }

    #cards {
        grid-template-columns: 1fr;

        grid-template-rows: repeat(3);

    }

    .card {
        height: auto;

    }

    .card-title {
        font-size: 1em;

    }

    .price {
        font-size: 1em;

    }

    .stock {
        font-size: 0.6em;

    }

    .card-image {
        height: 40%;

    }

    .hero-Index {
        padding: 10px 2px;

    }

    .title {
        font-size: 1.5rem;

    }

    .index-Causes {
        flex-direction: column;

    }

    .text-Causes {
        font-size: 1.2rem;

        padding-inline: 1rem;

    }

    .causes {
        width: 100%;

        height: auto;

        max-width: 300px;

        margin: 0.5rem;

    }

    .text-basic {
        font-size: 24px;

    }

    .arrow-Index {
        margin-top: 15px;

    }
}

@media (max-width: 440px) {
    .desc-causes {
        font-size: 10px;
        width: 50%;
    }
}