@import url("globalFont.css");

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

body {
    font-family: "fuente", sans-serif;
    scroll-behavior: smooth;
    background: #D9D9D9;
    background: linear-gradient(135deg,
            #D9D9D9 25%,
            #bfcdd8 25%,
            #bfcdd8 50%,
            #D9D9D9 50%,
            #D9D9D9 75%,
            #bfcdd8 75%,
            #bfcdd8);
    background-size: 40px 40px;
    animation: move 4.5s linear infinite;
}

.cardUser {
    min-height: 100%;
    width: 1519px;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: -2px 2px 4px #a6a6a6;
    font-size: x-large;
}
.infoUser {
    margin-top: 20px;
    margin-bottom: 35px;
    border: #a6a6a6;
    height: 450px;
    width: 80%;
    background-color: #6eb7d6;
    border: 1px solid #3697c0;
    border-radius: 10px;
}

.infoLevel {

}

.infoDonations {

}
