.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background-color: #6EB7D6;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    color: #fff;
}

.sidebar.active {
    right: 0;
}

#close-sidebar {
    cursor: pointer;
    background-color: #3E85A4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

#close-sidebar:hover {
    background-color: #74c6e9;
}

.wishlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
    list-style-type: none;
}

.wishlist-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.wishlist-item-image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.wishlist-item-info {
    flex-grow: 1;
}

.wishlist-item-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}

.wishlist-item-info p {
    margin: 5px 0 0;
    color: #d9d9d9;
}

.remove-from-wishlist {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-from-wishlist:hover {
    background-color: #ff1a1a;
}

@media (max-width: 768px) {
    .sidebar {
        width: 250px;

        padding: 15px;

    }

    .wishlist-item {
        flex-direction: column;

        align-items: flex-start;

    }

    .wishlist-item-image {
        width: 50px;

        height: 50px;

        margin-bottom: 10px;

    }

    .wishlist-item-info h3 {
        font-size: 1.1em;

    }

    .wishlist-item-info p {
        font-size: 0.9em;

    }

    .remove-from-wishlist {
        padding: 2px 4px;

        font-size: 0.9em;

    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 200px;

        padding: 10px;

    }

    .wishlist-item {
        margin-bottom: 10px;

    }

    .wishlist-item-image {
        width: 40px;

        height: 40px;

    }

    .wishlist-item-info h3 {
        font-size: 1em;

    }

    .wishlist-item-info p {
        font-size: 0.8em;

    }

    .remove-from-wishlist {
        padding: 2px 3px;

        font-size: 0.8em;

    }
}