@import url("globalFont.css");

/* Body */
body {
    font-family: "fuente", sans-serif;
    background-color: #D9D9D9;
    scroll-behavior: smooth;

}

.title {
    margin-top: 1rem;
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: #6EB7D6;
    text-align: center;
    text-shadow: 0px 2px #1b1a1a;
}

.title:hover {
    color: #3E85A4;
}
.index-Causes{
    display: flex;
    justify-content: space-around;

}
.causes{
    object-fit: fill;
    width: 300px;
    height: 300px;
    margin: 3rem;
    max-width: 480px;
    max-height: 480px;
    box-shadow: -3px 3px #3E85A4;
    border-radius: 1rem;

}
.text-Causes{
    font-size: large;
    text-align: center;
    padding-inline: 10rem;
}

.text-Catalogo{
    font-size: 30px;
    text-align: center;
    color: #6EB7D6;
}

.style-Catalogo{
    color: #3E85A4;

}

.arrow-Index{
    display: flex;
    justify-content: center;
}

.index-Donations{
    font-size: large;
    justify-content: center;
    text-align: center;
    padding: 0;
}
/* Botones */


;
/* Footer */


/* Utilidades */